[build]
  command = "npm install"
  publish = "."

[functions]
  node_bundler = "nft"
  included_files = ["data/**", "routes/**", "models/**", "middlewares/**", "utils/**"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api/:splat"
  status = 200